
<div class="edit-med-frame">
  <%= simple_form_for @medication do |f| %>
    <%= f.input :name, :input_html => { :class => "form-round"} %>
    <%= f.input :dosage, label:"Dosage (mg)", :input_html => { :class => "form-round"} %>
    <%= f.input :hours, :input_html => { :class => "form-round"} %>
    <%= f.input :taken, :input_html => { :class => "form-round"} %>
    <%= f.input :purpose, :input_html => { :class => "form-round"} %>
    <div id="medication-checkboxes">
      <%= f.collection_check_boxes(:weekdays, {"Monday": "Monday", "Tuesday": "Tuesday" , "Wednesday": "Wednesday" ,"Thursday": "Thursday" ,"Friday": "Friday" ,"Saturday": "Saturday" ,"Sunday": "Sunday"}, :last, :first)%>
    </div>
    <%= f.input :description, :input_html => { :class => "form-round"} %>
    <%= f.submit 'Edit medication' %>
  <% end %>
</div>
