<div class="medications-dashboard" data-controller="medications">
  <div class="list-buttons">
    <div class="toggle-list all-button active-button" type="button" data-action="click->medications#activate" data-medications-target="listButton"><i class="fa-solid fa-list-check"></i></div>
    <div class="toggle-list morning-button" type="button" data-action="click->medications#activate" data-medications-target="listButton"><i class="fa-solid fa-sun"></i></div>
    <div class="toggle-list afternoon-button" type="button" data-action="click->medications#activate" data-medications-target="listButton"><i class="fa-solid fa-cloud-sun"></i></div>
    <div class="toggle-list night-button" type="button" data-action="click->medications#activate" data-medications-target="listButton"><i class="fa-solid fa-cloud-moon"></i></div>
  </div>

  <div id="medications-lists" >
    <div class="" id="all-meds" data-medications-target="timeOfDay" data-controller="swal">

      <% @all_medications.each do |medication|%>
        <div class="medication-info">
          <div class="treat-button">
            <%= link_to medication_taken_medications_path(medication), data: {turbo_method: :post} do %>
              <i class="fa-solid fa-check" style="color:white"></i>
            <% end %>
          </div>

          <%= link_to medication_path(medication), class:"med-div" do %>
              <div class="name-and-dosage">
                <div><%= medication.name %></div>
                <div><%= "#{medication.dosage}mg" %></div>
              </div>
              <div class="time-and-weekdays">
                <div><%= medication.hours.strftime("%I:%M %p") %></div>
                <div>
                  <% medication.weekdays.each do |weekday|%>
                    <% @all_weekdays[weekday] = true %>
                  <% end %>
                  <% @all_weekdays.each do |key, value| %>
                    <% if value %>
                      <strong style="color: #FF8787;"><%= key[0] %></strong>
                    <% else %>
                      <strong style="color: black;"><%= key[0] %></strong>
                    <% end %>
                  <% end %>

                <% medication.weekdays.each do |weekday|%>
                    <% @all_weekdays[weekday] = false %>
                <% end %>
                </div>
              </div>
          <% end %>


          <div class="delete-button">
            <div id="sweet-alert-<%= medication.id %>" class="swal-buttons" data-medication-id="<%=medication.id%>">
              <i class="fa-solid fa-trash-can" style="color:white"></i>
            </div>
            <%= link_to "", destroy_medication_path(medication), data: {turbo_method: :delete}, id: "delete-link-#{medication.id}", class: "hidden" %>
          </div>

        </div>
      <% end %>

    </div>

    <div class="d-none" id="morning-meds" data-medications-target="timeOfDay" data-controller="morningswal">

      <% @morning_medications.each do |medication|%>
      <div class="medication-info">
        <%= link_to medication_path(medication), class:"med-div" do %>
            <div class="name-and-dosage">
              <div><%= medication.name %></div>
              <div><%= "#{medication.dosage}mg" %></div>
            </div>
            <div class="time-and-weekdays">
              <div><%= medication.hours.strftime("%I:%M %p") %></div>
              <div>
                <% medication.weekdays.each do |weekday|%>
                  <% @all_weekdays[weekday] = true %>
                <% end %>

                <% @all_weekdays.each do |key, value| %>
                  <% if value %>
                    <strong style="color: #FF8787;"><%= key[0] %></strong>
                  <% else %>
                    <strong style="color: black;"><%= key[0] %></strong>
                  <% end %>
                <% end %>

                <% medication.weekdays.each do |weekday|%>
                  <% @all_weekdays[weekday] = false %>
                <% end %>
              </div>
            </div>
        <% end %>
        <div class="delete-button">
          <div id="sweet-alert-morning-<%= medication.id %>" class="swal-buttons-morning" data-medication-id="<%=medication.id%>">
            <i class="fa-solid fa-trash-can" style="color:white"></i>
          </div>
          <%= link_to "", destroy_medication_path(medication), data: {turbo_method: :delete}, id: "delete-link-#{medication.id}", class: "hidden" %>
        </div>
      </div>
      <% end %>

    </div>

    <div class="d-none" id="afternoon-meds" data-medications-target="timeOfDay" data-controller="afternoonswal">

      <% @afternoon_medications.each do |medication|%>
      <div class="medication-info">
        <%= link_to medication_path(medication), class:"med-div" do %>
            <div class="name-and-dosage">
              <div><%= medication.name %></div>
              <div><%= "#{medication.dosage}mg" %></div>
            </div>
            <div class="time-and-weekdays">
              <div><%= medication.hours.strftime("%I:%M %p") %></div>
              <div>
                <% medication.weekdays.each do |weekday|%>
                  <% @all_weekdays[weekday] = true %>
                <% end %>
                <% @all_weekdays.each do |key, value| %>
                  <% if value %>
                    <strong style="color: #FF8787;"><%= key[0] %></strong>
                  <% else %>
                    <strong style="color: black;"><%= key[0] %></strong>
                  <% end %>
                <% end %>

                <% medication.weekdays.each do |weekday|%>
                  <% @all_weekdays[weekday] = false %>
                <% end %>
              </div>
            </div>
        <% end %>
        <div class="delete-button">
          <div id="sweet-alert-afternoon-<%= medication.id %>" class="swal-buttons-afternoon" data-medication-id="<%=medication.id%>">
            <i class="fa-solid fa-trash-can" style="color:white"></i>
          </div>
          <%= link_to "", destroy_medication_path(medication), data: {turbo_method: :delete}, id: "delete-link-#{medication.id}", class: "hidden" %>
        </div>
      </div>
      <% end %>


    </div>

    <div class="d-none" id="night-meds" data-medications-target="timeOfDay" data-controller="nightswal">

      <% @night_medications.each do |medication|%>
      <div class="medication-info">
        <%= link_to medication_path(medication), class:"med-div" do %>
            <div class="name-and-dosage">
              <div><%= medication.name %></div>
              <div><%= "#{medication.dosage}mg" %></div>
            </div>
            <div class="time-and-weekdays">
              <div><%= medication.hours.strftime("%I:%M %p") %></div>
              <div>
                <% medication.weekdays.each do |weekday|%>
                  <% @all_weekdays[weekday] = true %>
                <% end %>
                <% @all_weekdays.each do |key, value| %>
                  <% if value %>
                    <strong style="color: #FF8787;"><%= key[0] %></strong>
                  <% else %>
                    <strong style="color: black;"><%= key[0] %></strong>
                  <% end %>
                <% end %>

                <% medication.weekdays.each do |weekday|%>
                  <% @all_weekdays[weekday] = false %>
                <% end %>
              </div>
            </div>
        <% end %>
        <div class="delete-button">
          <div id="sweet-alert-night-<%= medication.id %>" class="swal-buttons-night" data-medication-id="<%=medication.id%>">
            <i class="fa-solid fa-trash-can" style="color:white"></i>
          </div>
          <%= link_to "", destroy_medication_path(medication), data: {turbo_method: :delete}, id: "delete-link-#{medication.id}", class: "hidden" %>
        </div>
      </div>
      <% end %>


    </div>
  </div>
  <div class="float">
    <%= link_to new_medication_path, class:"floating-button" do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  </div>
</div>
