<div></div>

<div class="add_your_med">
<h2>Medication</h2>

    <%= simple_form_for @medication do |f| %>
      <%= f.input :name, :input_html => { :class => "form-round"} %>
      <%= f.input :dosage, label:"Dosage (mg)", :input_html => { :class => "form-round"} %>
      <%= f.input :hours, :input_html => { :class => "form-round"} %>
      <%= f.input :taken, :input_html => { :class => "form-round"} %>
      <%= f.input :purpose, :input_html => { :class => "form-round"} %>
      <div id="medication-checkboxes">
        <%= f.collection_check_boxes(:weekdays, {"Monday": "Monday", "Tuesday": "Tuesday" , " Wednesday": "Wednesday" ,"Thursday": "Thursday" ,"Friday": "Friday" ,"Saturday": "Saturday" ,"Sunday": "Sunday", "Select All": "All"}, :last, :first)%>
      </div>
      <%= f.input :description,
                  input_html: { class: "form-round"},
                  wrapper_html: { class: "mt-3" }
                   %>
      <%= f.submit 'Add medication' %>
    <% end %>
  </div>

</div>
