<div class="medication-show-frame">

  <h2><strong><%= @medication.name %></strong></h2>
  <%= image_tag "icons/pill.png", class: "med-pill-image" %>
  <h1> <strong><%= @medication.hours.strftime("%I:%M %p")  %></strong>  </h1>
    <h1>
      <% @all_weekdays.each do |key, value| %>
        <% if value %>
          <strong style="color: #FF8787;"><%= key[0] %></strong>
        <% else %>
          <strong style="color: black;"><%= key[0] %></strong>
        <% end %>
      <% end %>
    </h1>

  <div class="medication-box-details">
    <h3><strong>Dosage:</strong> <%= @medication.dosage %> </h3>
    <h3><strong>Purpose:</strong> <%= @medication.purpose %></h3>
      <div class="medication-description">
        <p><strong>Description:</strong></p>
        <p> <%= @medication.description %> </p>
      </div>
    <div class="btn-edit">
      <%= link_to "edit", edit_medication_path %>
    </div>
  </div>
  
</div>
