<div class="dashboard-container">
  <div class="dashboard-docdoggie">
    <% if current_user.taken_medications.where(feed: true).present? %>
      <% doggie_gif = "#{@doggie.image_url[0..-5]}.gif" %>
      <div class="background-dashboard" style="background-image: url('<%= image_path "backgrounds/park.png" %>')">
      <%= image_tag doggie_gif, class:"docdoggie-pet"%>
    <% else %>
      <div class="background-dashboard" style="background-image: url('<%= image_path "backgrounds/park.png" %>')">
      <%= image_tag @doggie.image_url, class:"docdoggie-pet"%>
    <% end %>

      <% if current_user.taken_medications.where(feed: false).present? %>
        <div class="doggie-treat">
          <%= link_to taken_medications_path, data: {turbo_method: :post} do %>
          <%= image_tag "icons/new-treat.png", class:"treat-image" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="dashboard-header">
    <h1><%= @doggie.petname %></h1>
    <% if @days_together = 0 %>
      <h4>First day together!</h4>
    <% else %>
      <h4><%= "#{@days_together} days together" %></h4>
    <% end %>
  </div>

  <div class="dashboard-items">

    <div class="my-profile">
      <%= link_to profile_path do %>
        <div class="d-flex justify-content-between flex-column">
          <%= image_tag "icons/collar-icon.png", class: "collar-image" %>
          <h3 class="icon-text">My Profile</h3>
        </div>
      <% end %>
    </div>

    <div class="my-medications">
    <%= link_to medications_path do %>
      <div class="d-flex justify-content-between flex-column">
        <%= image_tag "icons/medications.png", class: "medications-image" %>
        <h3 class="icon-text">Medications</h3>
      </div>
      <% end %>
    </div>

    <div class="user-calendar">
    <%= link_to calendar_path do %>
      <div class="d-flex justify-content-between flex-column">
        <%= image_tag "icons/calendar-icon.png", class: "calendar-image" %>
        <h3 class="icon-text">Calendar</h3>
      </div>
    <% end %>
    </div>

    <div class="add-medication">
    <%= link_to new_medication_path do %>
      <div class="d-flex justify-content-between flex-column">
        <%= image_tag "icons/pill.png", class: "pill-image" %>
        <h3 class="icon-text">Add Meds</h3>
      </div>
      <% end %>
    </div>
  </div>
</div>
