<script>
    const vapidPublicKey = new Uint8Array(<%= Base64.urlsafe_decode64(Rails.application.credentials.dig(:webpush, :public_key)).bytes %>);

    if (!("Notification" in window)) {
      console.error("This browser does not support desktop notification");
    }

      // Let's check whether notification permissions have already been granted
    else if (Notification.permission === "granted") {
      console.log("Permission to receive notifications has been granted");
    }

      // Otherwise, we need to ask the user for permission
    else if (Notification.permission !== 'denied') {
      Notification.requestPermission(function (permission) {
        // If the user accepts, let's create a notification
        if (permission === "granted") {
          console.log("Permission to receive notifications has been granted");
        }
      });
    }

  // Register the serviceWorker script at /serviceworker.js from your server if supported
    if (navigator.serviceWorker) {
      navigator.serviceWorker.register('/service_worker.js')
        .then(function(reg) {
          navigator.serviceWorker.ready.then((serviceWorkerRegistration) => {
            serviceWorkerRegistration.pushManager
            .subscribe({
              userVisibleOnly: true,
              applicationServerKey: vapidPublicKey
            }).then(async function(sub) {
              const data = await fetch('/notifications', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify(sub),
              }).then(r => r.json());
              console.log(data);
            });
          });
        });
    } else {
      console.error('Service worker is not supported in this browser');
    }
  </script>

<div class="dashboard-container">
  <div class="dashboard-docdoggie">
    <div class="background-dashboard" style="background-image: url('<%= image_path "backgrounds/park.png" %>')">
    <%= image_tag @doggie.image_url, class:"docdoggie-pet"%>
    </div>
  </div>
  <div class="dashboard-header">
    <h1><%= @doggie.petname %></h1>
    <% if @days_together = 0 %>
      <h4>First day together!</h4>
    <% else %>
      <h4><%= "#{@days_together} days together" %></h4>
    <% end %>
  </div>

  <div class="dashboard-items">

    <div class="my-profile">
      <%= link_to profile_path do %>
        <div class="d-flex justify-content-between flex-column">
          <%= image_tag "icons/collar-icon.png", class: "collar-image" %>
          <h3 class="icon-text">My Profile</h3>
        </div>
      <% end %>
    </div>

    <div class="my-medications">
    <%= link_to medications_path do %>
      <div class="d-flex justify-content-between flex-column">
        <%= image_tag "icons/medications.png", class: "medications-image" %>
        <h3 class="icon-text">Medications</h3>
      </div>
      <% end %>
    </div>

    <div class="user-calendar">
    <%= link_to calendar_path do %>
      <div class="d-flex justify-content-between flex-column">
        <%= image_tag "icons/calendar-icon.png", class: "calendar-image" %>
        <h3 class="icon-text">Calendar</h3>
      </div>
    <% end %>
    </div>

    <div class="add-medication">
    <%= link_to new_medication_path do %>
      <div class="d-flex justify-content-between flex-column">
        <%= image_tag "icons/pill.png", class: "pill-image" %>
        <h3 class="icon-text">Add Meds</h3>
      </div>
      <% end %>
    </div>
  </div>
</div>
