<!DOCTYPE html>
<html>
  <head>
    <title>DocDoggie - A pawsome way to schedule your medication reminders!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>


  <body style="background-color: white">
    <% if (controller_name == "pages" && (action_name == "profile" || action_name == "calendar")) || (controller_name == "medications" && (action_name == "index" || action_name == "show" || action_name == "new" || action_name == "edit")) %>
      <%= render "shared/navbar" %>
    <% end %>
    <%= render "shared/flashes" %>
    <div class="page-container">
        <%= yield %>
    </div>
  </body>
</html>
